/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 50px;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Estilos para la galería */
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider {
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: auto;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease;
}

.slider img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.btn-prev, .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.btn-prev {
    left: 10px;
}

.btn-next {
    right: 10px;
}

/* Estilos para la sección de contacto */
#contacto form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

#contacto label {
    margin-bottom: 5px;
}

#contacto input, #contacto textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contacto button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#contacto button:hover {
    background-color: #555;
}

/* Animación para secciones */
.visible {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#servicios, #galeria, #contacto {
    opacity: 0;
}

.fade-in {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
